@{
    ViewData["Title"] = "CreatePost";
}

<h1>Post Girişi</h1>

<form method="post">

    <label>Mesaj</label>
<textarea cols="6" rows="8" class="form-control" ></textarea>
    <br />

    <button class="btn btn-primary">Paylaş</button>
</form>


      